@use '../components/button';
@use '../tools/responsive';

.container--locked{
    height: 100vh;
    overflow: hidden;
}

.hero{
    display: grid;
    grid-template-columns: var(--grid-container);
    height: calc(100vh + var(--section-gap-small));
    padding: calc(var(--section-gap-small)) 0;

    @include responsive.breakpoint(mobile){
        height: calc(100vh);
    }


    &__inner{
        grid-column: inner;
        background-image: url('./assets/images/hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__overlay{
        background-color: var(--color-dark-20);
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-light);
        text-shadow: 5px 5px 3px var(--color-dark-20);
        margin-top: 1.5rem;
        z-index: 900;
    }

    &__text span:first-child{
        font-size: clamp(var(--font-size-5), 2.173rem + 2.3543vw, var(--font-size-7));
    }

    &__text span:last-child{
        font-size: clamp(var(--font-size-4), 1.7383rem + 1.8838vw, var(--font-size-6));
        font-family: var(--font-secondary);
    }

    &__links{
        display: flex;
        gap: var(--section-gap-smaller);
        margin-top: 2rem;
    }

    &__links a{
        @include button.standard();
    }

    &__links a::after{
        @include button.line();
    }
}

.intro{
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-primary);
    color: var(--color-light);
    padding-top: var(--section-gap-small);

    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-inner);
        gap: var(--grid-gap);
        position: relative;
    }

    &__text{
        grid-column: 3 / 9;
        grid-row: 1;
        z-index: 10;

        @include responsive.breakpoint(tablet){
            grid-column: 3 / 11;
        }

        @include responsive.breakpoint(mobile){
            grid-column: 1 / -1;
        }
    }

    &__heading{
        font-size: clamp(var(--font-size-4), 1.7383rem + 1.8838vw, var(--font-size-6));
        font-family: var(--font-secondary);
        font-weight: 700;
        margin: 0;
    }

    &__subheading{
        font-weight: 700;
        margin: 1.3125rem 0 0;
        font-size: clamp(var(--font-size-2), 1.1124rem + 1.2057vw, var(--font-size-4));

        @include responsive.breakpoint(mobile){
            line-height: 40px;
            margin: 0.5rem 0 0;
        }
    }

    &__paragraph{
        margin: 1.3125rem 0 0;

        @include responsive.breakpoint(mobile){
            line-height: 24px;
            margin: 1rem 0 0;
        }
    }

    &__graphic{
        grid-column: 7 / 11;
        grid-row: 1;
        margin-top: -2rem;
        position: absolute;

        @include responsive.breakpoint(tablet){
            grid-column: 6 / 12;
        }

        @include responsive.breakpoint(mobile){
            grid-column: 4 / 12;
            margin-top: 2rem;
        }
    }
}

.food-menu{
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-primary);
    color: var(--color-primary-darker);
    padding: var(--section-gap-small) 0 calc(var(--section-gap) * 2);

    @include responsive.breakpoint(tablet){
        display: none;
    }

    
    &__inner{
        grid-column: inner;
        background-color: var(--color-light);
        display: grid;
        grid-template-columns: var(--grid-inner);
        column-gap: var(--grid-gap);
        position: relative;
        z-index: 1;
    }

    &__overlay{
        background-image: url('assets/images/paper_overlay.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__header{
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0 2rem;

        @include responsive.breakpoint(mobile){

        }
    }

    &__heading{
        font-family: var(--font-secondary);
        font-size: clamp(var(--font-size-5), 2.4918rem + 1.0467vw, var(--font-size-6));
        margin: 0;
        
        &__button{
            @include button.reset();
            padding: 1rem;
    }
    }
  
    &__menu{
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: var(--section-gap-smaller);

        @include responsive.breakpoint(mobile){
            display: none
        }
    }

    &__button{
        @include button.reset();
        color: var(--color-primary-darker);
    }

    &__button--current::after{
        @include button.line(var(--color-primary-darker));
    }

    &__graphic{
        position: absolute;
        right: 8rem;
        bottom: 1rem;

        @include responsive.breakpoint(tablet){
            right: 0;
            bottom: 4rem;
        }

        @include responsive.breakpoint(mobile){
            display: none;
        }
    }

}

.dish{
    margin-bottom: var(--section-gap-smaller);

    @include responsive.breakpoint(mobile){
        grid-column: 1 / -1 !important;
    }

    &:last-of-type{
        margin-bottom: var(--section-gap-small);
    }

    &__header{
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
        column-gap: 5px;
    }

    &__name{
        margin: 0;
        white-space: nowrap;
    }

    &__dots{
        overflow: hidden;
        white-space: nowrap;
        font-size: var(--font-size-2);
    }

    &__price{
        margin: 0;
        white-space: nowrap;
    }

    &__desc{
        margin-top: 1rem;
        margin-bottom: 0;
    }

    &--left{
        grid-column: 2 / 7;
    }

    &--right{
        grid-column: 7 / 12;
    }
}

.gallery{
    margin-top: calc(var(--section-gap) * -1);
    margin-bottom: var(--section-gap);
    display: grid;
    grid-template-columns: var(--grid-container);

    @include responsive.breakpoint(tablet){
        display: none;
    }

    &__inner{
        grid-column: inner;
        display: flex;
        gap: var(--grid-gap);
    }

    &__image img{
        display: block;
    }
}

.event{
    display: grid;
    grid-template-columns: var(--grid-container);
    color: var(--color-primary-darker);

    @include responsive.breakpoint(tablet){
        display: none;
    }

    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-inner);
        column-gap: var(--grid-gap);
        justify-items: center;
    }

    &__heading{
        font-family: var(--font-secondary);
        font-size: var(--font-size-6);
        grid-column: 2 / 12;
        margin: 0 0 4rem;
    }

    &__menu{
        grid-column: 2 / 12;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;
    }

    &__button{
        @include button.reset;
    }

    &__month{
        font-size: var(--font-size-4);
        font-weight: 700;
    }
}

.calendar{
    grid-column: 2 / 12;
    width: 100%;
    padding-bottom: var(--section-gap);
        
    &__weekdays{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        margin-bottom: 3rem;
    }

    &__weekday{
        font-size: var(--font-size-3);

        @include responsive.breakpoint(tablet){
            font-size: var(--font-size-2);
        }
    }

    &__dates{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    &__date{
        font-size: var(--font-size-3);
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include responsive.breakpoint(tablet){
            font-size: var(--font-size-2);
        }

        &--event{
            color: var(--color-light);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &--hover{
                display: none;
                background-color: var(--color-primary);
                padding: 12px;
                position: absolute;
                top: 0;
                right: 5.5rem;

                h5{
                    margin: 0;
                    margin-bottom: -0.5rem;
                }

                span{
                    font-size: var(--font-size-0);
                    color: var(--color-primary-darker);
                    margin: 0;
                }

                p{
                    font-size: var(--font-size-0);
                    min-width: 11rem;
                    margin: 0;
                    line-height: 18px;
                    margin-top: 0.5rem;
                }

                a{
                    @include button.standard();
                    margin-top: 2rem;

                    &::after{
                        @include button.line();
                    }
                }
            }

            &:hover &--hover{
                display: block;
            }
        }
    }

    &__date:first-of-type{
        grid-column-start: 2;
    }
}