@use '../tools/responsive';

.footer{
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: var(--grid-container);
    color: var(--color-light);

    @include responsive.breakpoint(mobile){
        display: none;
    }

    span{
        font-size: var(--font-size-1);
        line-height: 32px;
    }

    h4{
        margin: 2rem 0 23px;
    }

    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-inner);
        column-gap: var(--grid-gap);
    }

    &__branding{
        grid-column: 1 / -1;
        margin: 5rem auto ;
    }

    &__text{
        grid-column: 8 / 11;
    }
    
    &__open h4{
        margin-top: 0;
    }
    
    &__open div{
        display: flex;
        justify-content: space-between;

        span:last-of-type{
            text-align: right;
        }
    }

    &__contact{

    }

    &__adress{
        margin-bottom: 2rem;
    }

    &__note{

    }

    &__socials{
        grid-column: 11 / -1;
        align-self: flex-end;
        justify-self: flex-end;

        :first-child{
            margin-right: 1rem;
        }
    }

    &__copy{
        grid-column: 1 / -1;
        margin: 4rem 0 2rem;
        color: var(--color-primary-darker);
    }
}

#map{
    background-image: url('assets/images/map-still@2x.jpg');
    background-size: cover;
    grid-column: 1 / 8;
    height: 500px;
}